
//
// VARIABLES
//
// START IMPORT FONTS
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
// END IMPORT FONTS
// Colors
$blue: #4183C4;

// Grays
$black: #000;
$beige: #222;
$darkPurple: #867ae9;
$purple: #c449c2;
$lightGray: #eee;
$yellow: #fff5ab;

// Font stacks
$monserrat: 'Montserrat', sans-serif;
$ubuntu: 'Ubuntu', sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
